.home-intro{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px);
    background: linear-gradient(180deg, #184AFF 0%, #1423A8 100%);
    color: white;
    padding: 40px 0;
}

.sub-container{
    width: 80%;
}

.sub-home .text{
    padding-right: 50px;
}

.sub-home{
    display: flex;
}

.sub-home-container{
    width: 50%;
}

.sub-home .text h1{
    font-size: 55px;
}

.home-features{
    display: flex;
    width: 100%;
}

.home-features .feature-line{
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.feature-line .feature-dot{
    width: 5px;
    height: 5px;
    background-color: white;
    margin-right: 5px;
}

.sub-home .text .sub-p{
    margin-top: 20px;
    color: #dad6d6;
    font-size: 17px;
    padding-right: 40px;
}

.google{
    margin-top: 20px;
    background: #ECF4FF;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.google p{
    width: 100%;
    color: black;
    margin-bottom: 10px;
    line-height: 35px;
}

.home-contact{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.home-contact span{
    margin-right: 15px;
}

.home-contact span i{
    margin-right: 5px;
}

.home-contact-btn{
    background: #FF0798;
    margin-right: 15px;
    width: 50%;
}

.home-contact-btn:hover{
    background: #af0669;
}

.schedule{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 30px;
}

.schedule-btn{
    color: black;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.33);
    border-radius: 4px;
    margin-right: 20px;
    padding: 10px 50px;
}

.schedule-btn:hover{
    background: #e2e2e2;
}

.schedule .services-btn{
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.33));
    border-radius: 4px;
    padding: 10px 50px;
}

.schedule .services-btn:hover{
    background: white;
    color: black;
}

.badges{
    margin: 30px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
}

.triangle{
    position: absolute;
    top: 99%;
    left: 0; 
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 50px 0 50px;
    border-color: #ffffff transparent transparent transparent;
    
    z-index: 1;
}


.badge{
    margin-right: 55px;
    position: relative;
    padding-top: 10px;
    width: 100px;
    height: 120px;
    background: white;
    color: black;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    border-radius: 5px;
    box-shadow: 0 0 0 7px #161650;
}

.badge .title{
    width: 130%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #EB8B00;
    border-radius: 5PX;
    text-align: center;
    height: fit-content;
    margin: 5px 0;
    margin-left: -15px;
}

.badge .icon{
    width: 100%;
    display: flex;
    justify-content: center;
}

.badge .icon img{
    margin-top: -10px;
    width: 20px;
    height: 20px;
}

.sub-container .login{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.login-container{
    width: 100%;
    height: fit-content;
    background-color: white;
    color: black;
    padding: 30px;
    text-align: center;
    box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.44);
    border-radius: 5px;
}

.login-container .login-title{
    width: 100%;
    padding: 20px 40px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background: #01155D;
    font-size: 25px;
    color: white;
    margin-bottom: 20px;
}

.login-container .login-title i{
    margin-right: 10px;
    color: #FFD90F;
}

.login-container p{
    font-size: 25px;
    margin-bottom: 20px;
}

.login-container form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.login-container form input,
.login-container form textarea{
    padding: 20px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    border: 1px solid rgb(175, 175, 175);
}

.login-container form input[type="text"],
.login-container form input[type="number"]{
    width: 45%;
    margin-bottom: 20px;  
}

.login-container form input[type="email"]{
    width: 100%;
    margin-bottom: 20px;
}

.login-container form textarea{
    width: 100%;
    height: 150px;
}

.login-container form input[type="submit"]{
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 25px;
    color: white;
    background: #000000;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.333);
    border-radius: 4px;
    cursor: pointer;
}

.last-number{
    color:#FF0798;
}

